<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Education</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min copy 3.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="icon" href="https://static.wixstatic.com/media/50b774_339006e79fd448efb3b111e1e8a0e5a4~mv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/50b774_339006e79fd448efb3b111e1e8a0e5a4~mv2.png">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap" rel="stylesheet">
</head>

    <body>
        <header>
            <a href="{% url 'account:register' %}">Register</a>
            <a href="{% url 'account:login' %}">Login</a>
        </header>

        <h1>{{request.user}}</h1>

    </body>

</html>