<!DOCTYPE html>
{% load custom_tags thumbnail %}
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Education</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min copy 3.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="icon" href="https://static.wixstatic.com/media/50b774_339006e79fd448efb3b111e1e8a0e5a4~mv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/50b774_339006e79fd448efb3b111e1e8a0e5a4~mv2.png">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap" rel="stylesheet">

    <style>
        /* Popup container - can be anything you want */
        .popup {
          position: relative;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        
        /* The actual popup */
        .popup .popuptext {
          visibility: hidden;
          width: 160px;
          background-color: #555;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 8px 0;
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: 50%;
          margin-left: -80px;
        }
        
        /* Popup arrow */
        .popup .popuptext::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #555 transparent transparent transparent;
        }
        
        /* Toggle this class - hide and show the popup */
        .popup .show {
          visibility: visible;
          -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
        }
        
        /* Add animation (fade in the popup) */
        @-webkit-keyframes fadeIn {
          from {opacity: 0;} 
          to {opacity: 1;}
        }
        
        @keyframes fadeIn {
          from {opacity: 0;}
          to {opacity:1 ;}
        }
        .student-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .student-infos{
            font-size: 18px;
        }
        </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
        <a class="navbar-brand ml-5" href="index.html"><img class="logo" src="https://static.wixstatic.com/media/50b774_504c9af5ed1446cda5995409d37fea4e~mv2.png/v1/fill/w_320,h_40,al_c,q_85,usm_0.66_1.00_0.01/Logo%202.webp" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" style="margin-left: calc((100% - 700px) * 0.5);">
                <li class="nav-item active mr-lg-3">
                    <a class="nav-link" href="#community">ƏSAS SƏHİFƏ<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active mr-lg-3">
                    <a class="nav-link" href="#programs">DİSTANT TƏHSİL<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active mr-lg-3">
                    <a class="nav-link" href="#about">BOOTCAMP<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active mr-lg-3">
                    <a class="nav-link" href="#about">AKADEMİYA<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active mr-lg-3">
                    <a class="nav-link" href="#about">ƏLAQƏ<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto align-items-start mb-3 mb-lg-0">
                <li class="nav-item active m-2">
                    <div class="social-links-box">
                        <a class="social-link-a" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="social-link-a" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="social-link-a" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <div class="main-info pt-5">
            <div class="custom-container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="student-box">
                            <div class="student-img">
                                <img class="card-img-top" src="{% static 'images/student1.jpg' %}" alt="">
                            </div>
                            <div class="student-infos">
                                
                                <div class="d-flex">
                                    <strong>Level : </strong>
                                    <span class="ml-1">{% for level in student.level.all %}{{level.title}}{% endfor %}</span>
                                </div>
                                <div class="d-flex">
                                    <strong>Group : </strong>
                                    <span class="ml-1"> {{student.group}}</span>
                                </div>
                                <div class="d-flex">
                                    <strong>Teacher : </strong>
                                    <span class="ml-1"> {{student.group.teacher.user.first_name}} {{student.group.teacher.user.last_name}}</span>
                                </div>
                                <div class="d-flex">
                                    <strong>Email : </strong>
                                    <span class="ml-1"> {{student.user.email}}</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="info-container">
                            <div class="d-flex justify-content-between">
                                <h2 style="color: #0c78f3; font-weight: bold;">{{student.user.first_name}} {{student.user.last_name}}</h2>
                                <div class="d-flex">
                                    <div class="rating-container mr-4">
                                        <div class="popup p-cont" >
                                            <i class="fas fa-star-half-alt" onclick="pop_it_up()" style="color: gold; font-size: 34px;"></i>
                                            <span class="popuptext" id="myPopup">
                                                <i class="far fa-star" style="color: gold;"></i>
                                                <i class="far fa-star" style="color: gold;"></i>
                                                <i class="far fa-star" style="color: gold;"></i>
                                                <i class="far fa-star" style="color: gold;"></i>
                                                <i class="far fa-star" style="color: gold;"></i>
                                            </span>
                                        </div>
                                        <small id="rating">{{student.user.rating}}</small>
                                    </div>
                                    <button class="request-btn mr-3" style="background: linear-gradient(to right, rgb(50,59,217), rgb(212, 87, 107)); border: transparent; border-radius: 20px; color: white; width: 120px; height: 35px;">Download CV</button>
                                    <button class="request-btn" style="background: linear-gradient(to right, rgb(50,59,217), rgb(212, 87, 107)); border: transparent; border-radius: 20px; color: white; width: 120px; height: 35px;">Send request</button>
                                </div>
                            </div>
                            <p class="info-text pr-5 mt-4">
                                To shewing another demands to. Marianne property cheerful informed at striking at. Clothes parlors however 
                                by cottage on. In views it or meant drift to. Be concern parlors settled or do shyness address. Remainder 
                                northward performed out for moonlight. To shewing another demands to. Marianne property cheerful informed at striking at. Clothes parlors however 
                                by cottage on. In views it or meant drift to. Be concern parlors settled or do shyness address. Remainder 
                                northward performed out for moonlight.
                                To shewing another demands to. Marianne property cheerful informed at striking at. Clothes parlors however 
                                by cottage on. In views it or meant drift to. Be concern parlors settled or do shyness address. Remainder 
                                northward performed out for moonlight.
                            </p>
                            <div class="links mt-4">
                                {% comment %} {% for link in student.user.links.all %}

                                {% endfor %} {% endcomment %}
                                <a class="" href=""><i class="fab fa-github ml-2" style="color: rgb(148, 148, 148); font-size: 24px;"></i></a>
                                <a class="" href=""><i class="fab fa-linkedin ml-2" style="color: rgb(148, 148, 148); font-size: 26px;"></i></a>
                                <a class="" href=""><i class="fab fa-facebook ml-2" style="color: rgb(148, 148, 148); font-size: 24px;"></i></a>
                            </div>
                            
                        </div>
                        <div class="months-container justify-content-center">
                            <div class="start-finish-box mr-4">
                                <button class="start-finish-btn">
                                    <i class="fas fa-graduation-cap"></i>
                                </button>
                                <span class="text-center">12 February Started <br/> Tech Academy</span>
                            </div>
                            {% for month in months %}
                            <button class="month-btn">{{month.get_title_display}} </button>
                            {% endfor %}
  
                            <div class="start-finish-box ml-4">
                                <button class="start-finish-btn">
                                    <i class="fas fa-graduation-cap"></i>
                                </button>
                                <span class="text-center">23 July Gratuated <br/> Tech Academy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="other-info">
            <div class="custom-container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-4 col-12 mt-5 mt-sm-0 text-center">
                                <p>Continuity : 80%</p>
                                <i class="fas fa-chart-pie" style="font-size: 40px;"></i>
                            </div>
                            <div class="col-md-4 col-12 mt-5 mt-sm-0 text-center">
                                <p>Tasks : 80/100</p>
                                <i class="fas fa-chart-pie" style="font-size: 40px;"></i>
                            </div>
                            <div class="col-md-4 col-12 mt-5 mt-sm-0 text-center">
                                <p>Activity : 80%</p>
                                <i class="fas fa-chart-pie" style="font-size: 40px;"></i>
                            </div>
                        </div>
                        <div class="row lesson-details">
                            <div class="col-6">
                                <ul>
                                    {% for month in months %}
                                    <li class="mb-3">
                                        <span class="bold">{{month.get_title_display}} lessons</span>
                                    </li>
                                    {% get_subjects month.id student.group.session.id as subjects %}
                                    {% for subject in subjects %}
                                        <li>
                                            <i class="fas fa-check-circle"></i>
                                            <span>{{ subject.title }}</span>
                                        </li>
                                    {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul>
                                    <li class="mb-3">
                                        <span class="bold">1. Month tasks</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <span>To construct html sections as given</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <span>To construct html sections as given</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <span>To construct html sections as given</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <span>To construct html sections as given</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <span>To construct html sections as given</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-check-circle"></i>
                                        <span>To construct html sections as given</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="about">
                            <div class="comment-container">
                                <div class="comments">
                                    <h2 class="ml-3 mt-5">Comments</h2>
                                    <div class="comment-temp ml-3 mt-4">
                                        <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" alt="Commentator profil picture" style="width: 37px; border-radius: 50%;">
                                        <b class="commentator ml-2">Murad Aghazada. <small class="c-time">Sep 9th at 8:24pm</small></b>
                                        <p style="margin-left: 45px;" class="mt-2">Extremity sweetness difficult behaviour he of.</p>
                                        <button style="background: transparent; border: transparent; outline: none; margin-left: 40px;"><i class="far fa-heart"></i></button>
                                        <small>Liked by <a href="">17 people</a></small>
                                    </div>
                                    <div class="comment-temp ml-3 mt-5">
                                        <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" alt="Commentator profil picture" style="width: 37px; border-radius: 50%;">
                                        <b class="commentator ml-2">Ruslan Ehmedov. <small class="c-time">Sep 9th at 8:24pm</small></b>
                                        <p style="margin-left: 45px;" class="mt-2"> On disposal of as landlord horrible. Afraid at highly months do things on at. Situation recommend objection do intention so questions.</p>
                                        <button style="background: transparent; border: transparent; outline: none; margin-left: 40px;"><i class="far fa-heart"></i></button>
                                        <small>Liked by <a href="">17 people</a></small>
                                    </div>
                                    <div class="comment-temp ml-3 mt-5">
                                        <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" alt="Commentator profil picture" style="width: 37px; border-radius: 50%;">
                                        <b class="commentator ml-2">Rafik Huseynli. <small class="c-time">Sep 9th at 8:24pm</small></b>
                                        <p style="margin-left: 45px;" class="mt-2">Him rendered may attended concerns jennings reserved now. Sympathize did now preference unpleasing mrs few. Mrs for hour game room want are fond dare.</p>
                                        <button style="background: transparent; border: transparent; outline: none; margin-left: 40px;"><i class="far fa-heart"></i></button>
                                        <small>Liked by <a href="">17 people</a></small>
                                    </div>
                                </div>
                                <div class="write-comment mt-2 mb-5">
                                    <textarea class="ml-sm-5 mt-5" name="Comment" placeholder="Comment" id="" cols="30" rows="10" style="outline: none; resize: none; width: 95%; height: 100px;"></textarea>
                                    <div class="sc-container">
                                        <button class="submit-commit" style="background: linear-gradient(to right, rgb(50,59,217), rgb(212, 87, 107)); border: transparent; border-radius: 20px; color: white; width: 90px; height: 30px;">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 projects-container">
                        <div class="projects">
                            <h3 class="ml-sm-5 ml-3 mt-3 mb-4">Personal Projects</h3>
                            {% for project in projects %}
                            <div class="project-temp d-flex ml-sm-5 mt-3">

                                <a data-fancybox="gallery"  href="{{project.image.url}}">
                                    <img class="project-preview" src="{{ project.image|thumbnail_url:'project_img' }}"  src="https://source.unsplash.com/lSXpV8bDeMA/416x623"></a>
                                
                                
                                <div class="project-info ml-3">
                                    <h4>{{project.name}}</h4>
                                <a href="{{project.link}}">Check the project</a>
                                </div>
                            </div>
                            {% endfor %}

                            <div class="project-temp d-flex ml-sm-5 mt-3">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/51-n3NFOZwL.png" alt="Project preview" class="project-preview">
                                <div class="project-info ml-3">
                                    <h4>Tic-tac-toe</h4>
                                <a href="">Check the project</a>
                                </div>
                            </div>
                            <div class="project-temp d-flex ml-sm-5 mt-3">
                                <img src="https://us.123rf.com/450wm/jovanas/jovanas1907/jovanas190700399/128231634-film-reel-icon-the-video-icon-movie-symbol-on-dark-background.jpg?ver=6" alt="Project preview" class="project-preview">
                                <div class="project-info ml-3">
                                    <h4>Movie App</h4>
                                <a href="">Check the project</a>
                                </div>
                            </div>
                            <div class="project-temp d-flex ml-sm-5 mt-3">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/419wjp7euJL.png" alt="Project preview" class="project-preview">
                                <div class="project-info ml-3">
                                    <h4>Lyrics app</h4>
                                <a href="">Check the project</a>
                                </div>
                            </div>
                            <div class="project-temp d-flex ml-sm-5 mt-3 mb-3">
                                <img src="https://i.pinimg.com/originals/06/c4/f7/06c4f70ec5931e2342e703e8a3f0a253.png" alt="Project preview" class="project-preview">
                                <div class="project-info ml-3">
                                    <h4>Weather app</h4>
                                <a href="">Check the project</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="final-container text-center">
            <div class="col-12">
                <img src="mini-logo.png" alt="" class="footer-logo mt-3 mb-3">
            </div>
        </div>
        <div class="final-container text-center">
            <div class="col-12">
                <p class="footer-header">E-Education.</p>
                <p class="copyright">Copyright © E-Education. Privacy Policy.</p>
                <p class="copyright-two">All Rights Reserved.</p>
            </div>
        </div> -->
    </div>
    <script>
        // When the user clicks on div, open the popup
        function pop_it_up() {
          var popup = document.getElementById("myPopup");
          popup.classList.toggle("show");
        }
        </script>
       <script
       src="https://code.jquery.com/jquery-3.5.1.min.js"
       integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
       crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- 1. Add latest jQuery and fancybox files -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <script src="{% static 'js/app.js' %}"></script>

    <script>
        window.PARAMS = {};
        window.PARAMS['isAuth'] = true ? "{{ request.user.is_authenticated }}" === "True" : "False";
        window.PARAMS['loginUrl'] = `{% url 'account:login' %}?next=${window.location.pathname}`;
        window.PARAMS['ratingUrl'] = `{% url 'core:student-rating' student.user.id  %}`;
        window.PARAMS['ownerRating'] = parseInt(`{{owner_rating}}`);
    </script>

</body>

</html>