<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

    <title>Our Students</title>
  </head>
  <body>

    <header class=" bg-light" style="box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);">
        <div class="custom-container">
            <div class="row">
                <nav class="navbar justify-content-between navbar-expand-lg navbar-light py-3 full-w">
                    <a class="navbar-brand" href="index.html">
                        <img class="logo" src="https://static.wixstatic.com/media/50b774_504c9af5ed1446cda5995409d37fea4e~mv2.png/v1/fill/w_320,h_40,al_c,q_85,usm_0.66_1.00_0.01/Logo%202.webp" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="right">
                        <div class="menu-box">
                            <ul class="navbar-nav">
                                <li class="nav-item active ml-3">
                                    <a class="nav-link" href="#community">ƏSAS SƏHİFƏ<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active ml-4">
                                    <a class="nav-link" href="#programs">DİSTANT TƏHSİL<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active ml-4">
                                    <a class="nav-link" href="#about">BOOTCAMP<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active ml-4">
                                    <a class="nav-link" href="#about">AKADEMİYA<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active ml-4">
                                    <a class="nav-link" href="#about">ƏLAQƏ<span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="social-links-box">
                            <a class="social-link-a" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="social-link-a" href="#"><i class="fab fa-youtube"></i></a>
                            <a class="social-link-a" href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    
    <section class="img-section" style="background: url('{% static 'images/bootcamp.jpg'%}');background-position: center;background-repeat: no-repeat;background-size: cover;"></section>

   <div id="main" class="mt-4 mb-5">
        <main>
            <div class="students-container">
                <div class="row mb-5">
                    <div class="about-students">
                        <h2 class="full bold text-center">Tələbələrimiz</h2>
                        <p>Tələbələrini gələcəyin mütəxəssisləri kimi hazırlayan və onlarla həm akademik, 
                            həm professional əməkdaşlıq etməkdə hər zaman maraqlı olan Tech Academy sadəcə
                            bir tədris mərkəzi yox sizin karyeranınızın başlanğıc və ya dönüş nöqtəsidir.
                        </p>
                    </div>
                </div>
                <div class="row mb-5">
                    <form action="" class="full d-flex">
                        <select class="custom-select" name="group" id="">
                            <option value="">Select group</option>
                            {% for group in groups %}
                                <option value="{{group.id}}">{{group.name}}</option>
                            {% endfor %}
                        </select>
                        <select class="custom-select" name="level" id="">
                            <option value="">Select level</option>
                            {% for level in levels %}
                                <option value="{{level.id}}">{{level.title}}</option>
                            {% endfor %}
                        </select>
                        <select class="custom-select" name="session" id="">
                            <option value="">Select session</option>
                            {% for session in sessions %}
                                <option value="{{session.id}}">{{session.name}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                
                <div id="student-list" class="row mt-5">
                    <div class="student-list full-w">
                        {% for student in students %}
                            <a href="{% url 'core:student-detail' student.pk %}">
                               <div class="student">
                                    <div class="student-img">
                                        <img class="card-img-top" src="{{student.user.profile_img.url}}" alt="">
                                    </div>
                                    <div class="student-infos">
                                        <h4 class="name">{{student.user.first_name}} {{student.user.last_name}}</h4>
                                        <div class="d-flex">
                                            <strong>Level : </strong>
                                            <span>{{student.level.title}}</span>
                                        </div>
                                        <div class="d-flex">
                                            <strong>Group : </strong>
                                            <span>{{student.group}}</span>
                                        </div>
                                        <div class="d-flex">
                                            <strong>{{student.group.session}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
   </div>

   <!-- Footer -->
    <footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="students-container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
              <img src="{% static 'images/tech-footer-logo.webp' %}" alt="">
          </h6>
          <p>Tələbələrini gələcəyin mütəxəssisləri kimi hazırlayan və onlarla həm akademik, həm professional əməkdaşlıq etməkdə hər zaman maraqlı olan
            Tech Academy sadəcə bir tədris mərkəzi yox sizin karyeranınızın başlanğıc və ya dönüş nöqtəsidir.</p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Akademiya</h6>
          <p>
            <a href="#!">Haqqımızda</a>
          </p>
          <p>
            <a href="#!">Talant Mərkəzi</a>
          </p>
          <p>
            <a href="#!">Blog</a>
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> Atatürk prospekti 19, Elektron Hökümət 1-ci mərtəbə</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> +994 50 605 36 02</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
  
      <hr>
  
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
  
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
  
          <!--Copyright-->
          <p class="text-center text-md-left">© 2020 Copyright</p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
  
          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    </footer>
  <!-- Footer -->
    
   <script
   src="https://code.jquery.com/jquery-3.5.1.min.js"
   integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
   crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <script>
        document.querySelectorAll('form > select').forEach(select_element => {
            select_element.addEventListener('change', ()=>{
                const filterData = $('form').serialize();
                    $.ajax({
                        url: `{% url 'core:student-list-ajax' %}?${filterData}`,
                        success: function(data){
                            document.querySelector('#student-list').innerHTML = data;
                        },
                        error: function(data){
                            alert('error');
                        }
                    });
            })
        })
    </script>

</body>
</html>