{% load static %}

<div class="student-list full-w">
    {% for student in students %}
        <a href="{% url 'core:student-detail' student.pk %}">
            <div class="student">
                <div class="student-img">
                    <img class="card-img-top" src="{{student.user.profile_img.url}}" alt="">
                </div>
                <div class="student-infos">
                    <h4 class="name">{{student.user.first_name}} {{student.user.last_name}}</h4>
                    <div class="d-flex">
                        <strong>Level : </strong>
                        <span>{{student.level.title}}</span>
                    </div>
                    <div class="d-flex">
                        <strong>Group : </strong>
                        <span>{{student.group}}</span>
                    </div>
                    <div class="d-flex">
                        <strong>{{student.group.session}}</strong>
                    </div>
                </div>
            </div>
        </a>
        {% empty %}
        <h1 class="full bold text-center mt-3" style="color: #A1A289;">Axtarisa uygun netice tapilmadi</h1>
    {% endfor %}
</div>