html, body{
    height: 100%;
}

a{
    text-decoration: none !important;
}

#body{
    background: url('../images/techacademy.jpg');
}

.img-section{
    width: 100%;
    height: 400px;
}

.logo{
    width: 170px;
}

.custom-container{
    max-width: 85%;
    margin: auto;
}

.students-container{
    max-width: 75%;
    margin: auto;
}

.menu-box{
    justify-content: flex-end;
}

.form-control{
    height: 55px;
   
}

.full-w{
    width: 100%;
}

.fa-user, .fa-users{
    font-size: 100px;
    color: #ccc;
}

.filter-form{
    width: 70%;
    margin: auto;
}

.register-icon-box, .icon-box{
    border: 3px solid #ccc;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-box{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    background-color: #fff;
}

.form-group a{
    color: #000;
}

.link-group{
    display: flex;
    justify-content: space-between;
}

.register-user-btn{
    background-color: #ccc;
    padding: 8px 40px;
}

.right{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.social-links-box{
    display: flex;
    align-items: center;
}

.social-links-box i{
    font-size: 20px;
    color: #fff;
}

.social-link-a{
    text-decoration: none !important;
    background-color: rgb(148, 148, 148);
    display: flex;
    border-radius: 50%;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.about-students{
    width: 50%;
    margin: auto;
    text-align: center;
    color: #A1A289 ;
}

.student-infos{
    padding: 0px 0 8px 10px;
    color: black;
}

.student-img{
    padding: 10px;
}

.student{
    border: 1px solid #ECECEB;
    border-radius: 5px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: .4s;
    margin: 5px;
}

.student:hover{
    -webkit-box-shadow: 0px 0px 20px -4px rgba(163,163,163,1);
    -moz-box-shadow: 0px 0px 20px -4px rgba(163,163,163,1);
    box-shadow: 0px 0px 20px -4px rgba(163,163,163,1);
}

.student-list .col-3{
    margin-bottom: 20px;
}

.name{
    color: #989A27;
    font-weight: bold;
}

.student-img img{
    max-width: 300px;
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.month-btn {
    background: linear-gradient(to right, rgb(50,59,217), rgb(212, 87, 107));
    color: white;
    border-radius: 50%;
    border: transparent;
    font-size: 14px;
    font-weight: 500;
    width: 80px;
    height: 80px;
}

.start-finish-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-finish-btn{
    background-color: #1e8aee;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 24px;
}

.months-container{
    display: flex;
}

.custom-select{
    margin-right: 10px;
}

.rating-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lesson-details{
    padding-top: 50px;
}

.lesson-details li i{
    color: green;
}

footer{
    background-color: #45526e !important;
    color: white;
}

footer a{
    color: white;
}

footer a:hover{
    color: gold;
}

#main{
    min-height: 800px;
}

.project-temp{
    margin: 10px;
}

.lesson-details .col-6{
    display: flex;
    justify-content: center;
}

.lesson-details ul{
    width: 60%;
}

.nav-link{
    font-size: 14px;
}

