body {
    font-family: Arial,Helvetica,sans-serif;
}
.main {
    margin-top: 65px;
}
.navbar {
    background-color: white !important;
    border-bottom: 1px solid #e6e6e6e6;
    position: fixed;
    width: 100%;
    z-index:1;
    top: 0;
    box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
}

.content {
    padding: 16px;
  }
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.sticky + .content {
    padding-top: 60px;
  }
::placeholder {
    color: black !important;
}
.logo {
    width: 160px;
    object-position: 50% 50%;
    object-fit: cover;
}
.profil-pic {
    width: 220px;
    height: 240px;
}
/* .links {
    display: grid;
} */
.nav-header {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    padding: 7px;
    outline: none;
}
.nav-link {
    font-size: 14px;
}
.full-name {
    color: rgb(42, 48, 140) !important;
}
.info-text {
    text-align: left;
}
.other-info {
    margin-top: 100px;
    /* border-top: 1px solid #e6e6e6e6; */
}
.lessons-info {
    margin-top: 100px;
    /* border-bottom: 1px solid #e6e6e6e6 !important; */
}


.project-preview {
    width: 100px;
    height: 100px;
}
.projects {
    border: 1px solid #e6e6e6e6;
    border-radius: 5px;
}
.write-comment {
    /* text-align: right; */
}
.sc-container {
    text-align: right;
}
.social-links-box{
    display: flex;
    align-items: center;
}
.social-links-box i{
    font-size: 20px;
    color: #fff;
}
.social-link-a{
    text-decoration: none !important;
    background-color: rgb(148, 148, 148);
    display: flex;
    border-radius: 50%;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #212121;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 20px 0 40px;
  font-family: "Open Sans", sans-serif;
  color: #282828;
}

.is-not-approved-skill{
  background: linear-gradient(to left, #777ad0, #809af9) !important;
}

.skills {
  width: 80%;
  max-width: 960px;
  height: 780px;
  height: 840px;
  margin: auto;
  position: relative;
}


.lines {
  height: 100%;
  position: relative;
}

.line {
  height: inherit;
  width: 2px;
  position: absolute;
  background: rgba(238, 238, 238, 0.6);
}
.line.l--0 {
  left: 0;
}
.line.l--25 {
  left: 25%;
}
.line.l--50 {
  left: 50%;
}
.line.l--75 {
  left: 75%;
}
.line.l--100 {
  left: calc(100% - 1px);
}

.line__label {
  display: block;
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: -20px;
  right: -50px;
}
.line__label.title {
  text-transform: uppercase;
  font-weight: bold;
}

.charts {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.chart:not(:first-child) {
  margin-top: 10px;
}

.chart__title {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}
.chart--prod .chart__title {
  animation-delay: 3.3s;
}
.chart--design .chart__title {
  animation-delay: 4.5s;
}

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(to left, #4cb8c4, #3cd3ad);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}
.chart--dev .chart__bar:nth-of-type(11) {
  animation-delay: 2.7s;
}
.chart--dev .chart__bar:nth-of-type(10) {
  animation-delay: 2.5s;
}
.chart--dev .chart__bar:nth-of-type(9) {
  animation-delay: 2.3s;
}
.chart--dev .chart__bar:nth-of-type(8) {
  animation-delay: 2.1s;
}
.chart--dev .chart__bar:nth-of-type(7) {
  animation-delay: 1.9s;
}
.chart--dev .chart__bar:nth-of-type(6) {
  animation-delay: 1.7s;
}
.chart--dev .chart__bar:nth-of-type(5) {
  animation-delay: 1.5s;
}
.chart--dev .chart__bar:nth-of-type(4) {
  animation-delay: 1.3s;
}
.chart--dev .chart__bar:nth-of-type(3) {
  animation-delay: 1.1s;
}
.chart--dev .chart__bar:nth-of-type(2) {
  animation-delay: 0.9s;
}
.chart--dev .chart__bar:nth-of-type(1) {
  animation-delay: 0.7s;
}
.chart--prod .chart__bar:nth-of-type(2) {
  animation-delay: 4.2s;
}
.chart--prod .chart__bar:nth-of-type(1) {
  animation-delay: 4s;
}
.chart--design .chart__bar:nth-of-type(4) {
  animation-delay: 5.8s;
}
.chart--design .chart__bar:nth-of-type(3) {
  animation-delay: 5.6s;
}
.chart--design .chart__bar:nth-of-type(2) {
  animation-delay: 5.4s;
}
.chart--design .chart__bar:nth-of-type(1) {
  animation-delay: 5.2s;
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

@media (min-width: 361px) and (max-width: 767px) {
    .profil-pic {
        width: 100%;
        height: 100%;
    }
    .personal-info {
        margin-top: 20px;
        display: grid !important;
    }
    .main-info-container {
        text-align: center;
        display: contents !important;
    }
    .info-container {
        text-align: center;
        display: contents !important;
    }
    .info-text {
        margin-top: 40px;
        text-align: center;
    }
    .rating-container {
        margin-left: 28%;
        display: grid;
    }
    .month-btn {
        font-size: 14px;
        font-weight: 500;
        padding: 9px;
    }
    .projects {
        border: transparent;
    }

}
@media (max-width: 360px) {
    .profil-pic {
        width: 100%;
        height: 100%;
    }
    .personal-info {
        margin-top: 20px;
        display: grid !important;
    }
    .main-info-container {
        text-align: center;
        display: contents !important;
    }
    .info-container {
        text-align: center;
        display: contents !important;
    }
    .info-text {
        margin-top: 40px;
        text-align: center;
    }
    .rating-container {
        margin-left: 28%;
        display: grid;
    }
    .month-btn {
        font-size: 14px;
        font-weight: 500;
        padding: 9px;
    }
    .commentator {
        font-size: 14px;
    }
    .projects {
        border: transparent;
    }

}
@media (min-width: 768px) and (max-width: 841px) {
    

}

