body {
    font-family: Arial,Helvetica,sans-serif;
}
.main {
    margin-top: 65px;
}
.navbar {
    background-color: white !important;
    border-bottom: 1px solid #e6e6e6e6;
    position: fixed;
    width: 100%;
    z-index:1;
    top: 0;
}
.content {
    padding: 16px;
  }
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.sticky + .content {
    padding-top: 60px;
  }
::placeholder {
    color: black !important;
}
.logo {
    width: 160px;
    object-position: 50% 50%;
    object-fit: cover;
}
.profil-pic {
    width: 220px;
    height: 240px;
}
/* .links {
    display: grid;
} */
.nav-header {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    padding: 7px;
    outline: none;
}
.nav-link {
    font-size: 14px;
}
.full-name {
    color: rgb(42, 48, 140) !important;
}
.info-text {
    text-align: left;
}
.other-info {
    margin-top: 100px;
    /* border-top: 1px solid #e6e6e6e6; */
}
.lessons-info {
    margin-top: 100px;
    /* border-bottom: 1px solid #e6e6e6e6 !important; */
}
.months-container {
    border: 1px solid #e6e6e6e6;
    border-radius: 5px;
}
.month-btn {
    background: linear-gradient(to right, rgb(50,59,217), rgb(212, 87, 107));
    color: white;
    border-radius: 50%;
    border: transparent;
    font-size: 14px;
    font-weight: 500;
    padding: 16px;
}
.project-preview {
    width: 100px;
    height: 100px;
}
.projects {
    border: 1px solid #e6e6e6e6;
    border-radius: 5px;
}
.write-comment {
    /* text-align: right; */
}
.sc-container {
    text-align: right;
}

@media (min-width: 361px) and (max-width: 767px) {
    .profil-pic {
        width: 100%;
        height: 100%;
    }
    .personal-info {
        margin-top: 20px;
        display: grid !important;
    }
    .main-info-container {
        text-align: center;
        display: contents !important;
    }
    .info-container {
        text-align: center;
        display: contents !important;
    }
    .info-text {
        margin-top: 40px;
        text-align: center;
    }
    .rating-container {
        margin-left: 28%;
        display: grid;
    }
    .month-btn {
        font-size: 14px;
        font-weight: 500;
        padding: 9px;
    }
    .projects {
        border: transparent;
    }

}
@media (max-width: 360px) {
    .profil-pic {
        width: 100%;
        height: 100%;
    }
    .personal-info {
        margin-top: 20px;
        display: grid !important;
    }
    .main-info-container {
        text-align: center;
        display: contents !important;
    }
    .info-container {
        text-align: center;
        display: contents !important;
    }
    .info-text {
        margin-top: 40px;
        text-align: center;
    }
    .rating-container {
        margin-left: 28%;
        display: grid;
    }
    .month-btn {
        font-size: 14px;
        font-weight: 500;
        padding: 9px;
    }
    .commentator {
        font-size: 14px;
    }
    .projects {
        border: transparent;
    }

}
@media (min-width: 768px) and (max-width: 841px) {
    

}